.image {
  width: 300px;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
  border: 1px solid #808080;
}

.description {
  text-decoration: none;
  display: block;
  width: 300px;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
